ul {
  list-style-type: none;
}

.top {
  display: flex;
  justify-content: space-between;
}

.recipe {
  max-width: 1000px;
  margin: 20px auto;
  text-align: left;
}

.recipe-title {
  padding: 15px 25px;
}

.recipe-cooktime {
  padding-left: 25px;
  padding-bottom: 15px;
}

.recipe-description {
  text-align: center;
}

.recipe-ingredients {
  padding: 10px 50px;
}

.ingredient-item,
.directions-item {
  padding-bottom: 20px;
}

label input {
  margin-right: 30px;
}

ol > li,
.direction-container {
  margin-left: 30px;
  position: relative;
}

ol > li:before {
  counter-increment: list;
  content: counter(list) ".";
  position: absolute;
  right: 100%;
  margin-right: 5px;
  top: 0;
}

ol {
  list-style: none;
  counter-reset: list;
}

.recipe-image > img {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.recipe-directions {
  padding: 0 50px;
}
