.search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: 600px;
}

.search-bar {
  width: 100%;
}

.search-btn {
  margin-left: -93px;
}

.navbar {
  background-color: #cc1414;
}

.home-nav {
  flex-grow: 0 !important;
  padding-right: 10px;
}

.home-nav > a {
  color: white;
  font-size: 1.25rem;
}

.home-nav > a:hover {
  text-decoration: none;
  color: white;
}
